<% provide(:title, t("help")) %>
<h1><%= t("help") %></h1>
<p>
  <%= t("help_page.the") %> <a href="http://www.railstutorial.org/"><em><%= t("help_page.tutorial_name") %></em></a>
  <%= t("help_page.is_a") %>
  <a href="http://www.railstutorial.org/book"><%= t("help_page.book") %></a> <%= t("help_page.and") %>
  <a href="http://screencasts.railstutorial.org/"><%= t("help_page.screencast_series") %></a>
  <%= t("help_page.to_teach_web_development_with") %>
  <a href="http://rubyonrails.org/"><%= t("help_page.ruby_on_rails") %></a>.
  <%= t("help_page.last_line") %>
</p>
