<footer class="footer">
  <small>
    <%= t("footer_page.the") %> <a href="http://www.railstutorial.org/"><%= t("footer_page.tutorial_name") %></a>
    <%= t("footer_page.by") %> <a href="http://www.michaelhartl.com/"><%= t("footer_page.author") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t("footer_page.news") %></a></li>
    </ul>
  </nav>
</footer>
